/* Default mobile styles */
.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app__wrapper {
  flex-direction: column;
}

.app__wrapper_img {
  margin: 5rem 0 0 0;
}

.app__wrapper_img-reverse {
  margin: 0 0 5rem 0;
}

.app__wrapper_img img {
  width: 100%;
}

.app-link {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styles for larger screens */
@media (min-width: 390px) {
  .app-header {
    flex-direction: row;
  }

  .app__wrapper {
    flex-direction: row;
  }

  .app__wrapper_img {
    margin: 0;
  }

  .app__wrapper_img-reverse {
    margin: 0;
  }

  .app__wrapper_img img {
    width: auto;
  }
}

@media (min-width: 390px) {
  .app-header {
    flex-direction: row;
  }

  .app__wrapper {
    flex-direction: row;
  }

  .app__wrapper_img {
    margin: 0;
  }

  .app__wrapper_img-reverse {
    margin: 0;
  }

  .app__wrapper_img img {
    width: auto;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

/* Additional global styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
